name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: restore
      run: dotnet restore
    - name: build
      run: dotnet build --no-restore
    - name: test
      run: dotnet test --no-build --verbosity normal
