name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: restore
        run: dotnet restore
      - name: build
        run: dotnet build --no-restore --configuration Release /p:Version=${VERSION}
      - name: test
        run: dotnet test --no-build --verbosity normal --configuration Release /p:Version=${VERSION}
      - name: pack
        run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .
      - name: push to nuget packages
        run: dotnet nuget push PaginatR.${VERSION}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${NUGET_KEY} --skip-duplicate
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
      - name: push to github packages
        run: dotnet nuget push PaginatR.${VERSION}.nupkg --source https://nuget.pkg.github.com/SamuelMunoz/index.json --api-key ${GITHUB_TOKEN}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}